<div id="modal-holder"></div>

<div class="main-content">

  <nav class="navbar navbar-default">

    <span class="navbar-brand" title="Sistema de Alocação de Projetos"><%= yield :titulo %></span>

    <% if current_page?(projects_path) and current_member.try(:admin?) %>

      <form class="navbar-form navbar-right" style="margin-right: -3px; margin-top: 10px">

        <div class="btn-group btn-group-sm">
        
          <%= link_to 'Novo Projeto', new_project_path, data: { modal: true }, class:'btn btn-default' %>
          <%= link_to 'Alocar Membros', new_members_project_path, data: { modal: true }, class:'btn btn-default' %>

            <div class="btn-group btn-group-sm btn-group-merge">

              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Novo Histórico <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><%= link_to 'De Projeto', new_project_history_path, data: { modal: true } %></li>
                <li><%= link_to 'De Membro', new_project_member_history_path, data: { modal: true } %></li>
              </ul>

            </div>

        </div>

      </form>

    <% elsif current_page?(projects_path) and !current_member.try(:user?) %>

      <form class="navbar-form navbar-right" style="margin-right: -3px; margin-top: 10px">

        <div class="btn-group btn-group-sm btn-group-merge">

          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Novo Histórico <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><%= link_to 'De Projeto', new_project_history_path, data: { modal: true } %></li>
            <li><%= link_to 'De Membro', new_project_member_history_path, data: { modal: true } %></li>
          </ul>

        </div>

      </form>

      <ul class="nav nav-pills pull-right" style="font: 13px 'Roboto'; margin-top: 8px; padding-right: 10px">
        <li class="active" style="border-radius: 0"><a href="#painel" data-toggle="tab">Painel</a></li>
        <li><a href="#lista" data-toggle="tab">Lista</a></li>
      </ul>

    <% elsif current_page?(knowledges_members_path) and !current_member.try(:user?) %>

      <ul class="nav nav-pills pull-right" style="font: 13px 'Roboto'; margin-top: 8px; margin-right: 10px">
        <li style="border-radius: 0"><a href="#conhecimentos_gerais" data-toggle="tab">Geral</a></li>
        <li class="active"><a href="#conhecimentos_individuais" data-toggle="tab">Individual</a></li>
      </ul>

    <% elsif current_page?(activities_members_path) and !current_member.try(:user?) %>

      <ul class="nav nav-pills pull-right" style="font: 13px 'Roboto'; margin-top: 8px; margin-right: 10px">
        <li style="border-radius: 0"><a href="#atividades_gerais" data-toggle="tab">Geral</a></li>
        <li class="active"><a href="#atividades_individuais" data-toggle="tab">Individual</a></li>
      </ul>

    <% elsif current_page?(request_histories_path) and !current_member.try(:user?) %>

      <ul class="nav nav-pills pull-right" style="font: 13px 'Roboto'; margin-top: 8px; margin-right: 10px">
        <li style="border-radius: 0"><a href="#historicos_gerais" data-toggle="tab">Geral</a></li>
        <li class="active"><a href="#historicos_individuais" data-toggle="tab">Individual</a></li>
      </ul>

    <% elsif current_page?(members_projects_path) and !current_member.try(:user?) %>

      <ul class="nav nav-pills pull-right" style="font: 13px 'Roboto'; margin-top: 8px; margin-right: 10px">
        <li style="border-radius: 0"><a href="#alocacoes_gerais" data-toggle="tab">Geral</a></li>
        <li class="active"><a href="#alocacoes_individuais" data-toggle="tab">Individual</a></li>
      </ul>

    <% elsif current_page?(members_path) %>

      <ul class="nav nav-pills pull-right" style="font: 13px 'Roboto'; margin-top: 8px; margin-right: 10px">
        <li style="border-radius: 0"><a href="#membros_painel" data-toggle="tab">Painel</a></li>
        <li class="active"><a href="#membros_lista" data-toggle="tab">Lista</a></li>
      </ul>

    <% else %>

      <p class="navbar-text pull-right">Olá, <%= current_member.email %></p>

    <% end %>

  </nav>

  <%= render 'layouts/flash' %>

  <%= yield %>
  
</div>