<aside class="sidebar-left-collapse">

  <a href="/home" class="company-logo"><%= image_tag("cjr.png", class:'cjr-logo', title:'Ir para a página inicial') %></a>

  <div class="sidebar-links">

    <% if esta_em_membros? %>

      <div class="link-blue selected">

    <% else %>

      <div class="link-blue">

    <% end %>

      <a href="#">
        <i class="fa fa-user"></i>Membros
      </a>

      <ul class="sub-links">
        <li><%= link_to 'Todos os Membros', members_path %></li>
        <li><%= link_to 'Visualizar Perfil', current_member, data: { modal: true } %></li>
        <li><%= link_to 'Atualizar Perfil', edit_member_path(current_member), data: { modal: true } %></li>
      </ul>

    </div>

    <% if esta_em_conhecimentos? %>

      <div class="link-red selected">

    <% else %>

      <div class="link-red">

    <% end %>

      <a href="#">
        <i class="fa fa-book"></i>Conhecimentos
      </a>

      <ul class="sub-links">
        <li><%= link_to 'Todos os Conhecimentos', knowledges_path %></li>
        <li><%= link_to 'Requisições', knowledge_requests_path %></li>
        <li><%= link_to 'Histórico de Requisições', request_histories_path %></li>
      </ul>

    </div>

    <% if esta_em_projetos? %>

      <div class="link-yellow selected">

    <% else %>

      <div class="link-yellow">

    <% end %>

      <a href="#">
        <i class="fa fa-keyboard-o"></i>Projetos
      </a>

      <ul class="sub-links">
        <% if can? :read, Project %>
          <li><%= link_to 'Todos os Projetos', projects_path %></li>
        <% end %>
        <li><%= link_to 'Visão Geral', projects_overview_path %></li>
        <% if can? :read, ProjectHistory %>
          <li><%= link_to 'Histórico de Projetos', project_histories_path %></li>
        <% end %>
        <li><%= link_to 'Histórico para Membros', project_member_histories_path %></li>
      </ul>

    </div>

  </div>

</aside>

<script>

  $(function () {

    var links = $('.sidebar-links > div');

    links.on('click', function () {

      links.removeClass('selected');
      $(this).addClass('selected');

    });
  });

</script>