<!DOCTYPE html>
<html>
<head>
  <title><%= yield :titulo %> - SAP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/dt-1.10.11,r-2.0.2/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/t/bs/dt-1.10.11,r-2.0.2/datatables.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<% if member_signed_in? %>
  <body>
    <%= render 'layouts/sidebar' %>
    <%= render 'layouts/main_content' %>
  </body>
<% else %>
  <body class="devise">
    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
<% end %>
</html>